<html>
<script language="JavaScript">
    function browseAircraft() {
        location.href = "/aircraft";
    };
</script> 
<div id = "showParts" border = "1" cellpadding="5">

    <table border="1" cellpadding="5">
        <tr>
          <th>Part Number</th>
          <th>Nomenclature</th>
          <th>Description</th>
          <th></th>
        </tr>
        {% for part in ac_parts %}
        <tr>
          {% for key in part.keys() %}
          <td>{{part[key]}}</td>
          {% endfor %}
          <td><a href="#" onclick="removePart()"> Remove </a></td>
        <tr>
        {% endfor %}
      </table>


    <form method="POST" id="addAircraftPart">
    </div>
<div id = "addPart" border = "1" cellpadding="5">
      <legend><strong>Add Part to Aircraft</strong></legend>
          <fieldset class="fields">
            <label><strong>Aircraft ID:</strong></label> G1A-51
              <label> <strong>Part Number: </strong></label>  <select name="searchUpdate">
                <option>Select Part Number</option>
                {% for part in parts_list %}
                <option value="{{part['part_number']}}">{{part['part_number']}}</option>
                {% endfor %}
          </select>
          </fieldset>
          <input class="btn" type="submit" id="addAircraft" value="Add Part to Aircraft">
          <input class="btn" type="button" value="Cancel" onClick="browseAircraft()">
    </form> 
</div>

</html>