<html>
<script language="JavaScript">
    function browseAircraft() {
        location.href = "/aircraft";
    };
</script> 
<div id="remove" style="display: block">
    <form method="POST" id="removePart">
        <legend><strong>Remove Part</strong></legend>
            <fieldset class="fields">
            <p><strong>Are you sure you wish to remove the following part?</strong> </p>
            <input type="hidden" name="aircraftID" id="deleteaircraftID" value="1">
            <label><strong>Part Number:</strong></label> {{pn}}
            <label><strong>Aircraft ID:</strong></label> {{aircraft_id}}
      </fieldset>
      <input class="btn" type="submit" id="DeleteAircraft" value="Remove Part">
            <input class="btn" type="button" value="Cancel" onClick="browseAircraft()">
    </form> 
</div>
</html>