
<html>
<head>
<title>Group 149 Airlines</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, install, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'install'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('install').style.display = 'block';
                document.getElementById('details').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}    
			else if (dowhat == 'details'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('install').style.display = 'none';
                document.getElementById('details').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('install').style.display = 'none';
                document.getElementById('details').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('install').style.display = 'none';
                document.getElementById('details').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('install').style.display = 'block';
                document.getElementById('details').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('install').style.display = 'none';
                document.getElementById('details').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
        }
    
    function newRemoval() { showform('install'); }
    function showDetails() {showform('details')}
    function updateRemoval(pid) { showform('update'); }
    function deleteRemoval(pid) { showform ('delete'); }
    function browseRemovals() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseRemovals()">
<h1>Removals</h1>

[ <a href="/">Home</a> | <a href="parts">Parts</a> | <a href="aircraft">Aircraft</a> | <a href="removals">Removals</a> | <a href="repairs">Repairs</a> | <a href="inventory_locations">Inventory</a>]

<div id="browse">
<table border="1" cellpadding="5">
  <tr>
    {% for key in removals[0].keys() %}
    <th>{{ key }}</th>
    {% endfor %}
    <th></th>
    <th></th>
  </tr>
  {% for removal in removals %}
  <tr>
    <td align="center" >{{removal['id_removal']}}</td>
    <td align="center" >{{removal['removal_date']}}</td>
    <td align="center">{{removal['replacement_date']}}</a></td>
    <td align="center">{{removal['id_aircraft']}}</td>    
    <td align="center"><a href="removals/part_detail/{{removal['removed_part']}}">{{removal['removed_part']}}</a></td>
    <td align="center"><a href="removals/part_detail/{{removal['installed_part']}}">{{removal['installed_part']}}</a></td>
    
    <td><a href="#" onClick="updateRemoval('this.removalID')">Edit</a></td>
    <td><a href="#" onclick="deleteRemoval('this.removalID')">Delete</a></td>
  </tr>
  {% endfor %}
</table>
<p>&nbsp;</p>
<legend><strong>Search Removals</strong></legend>
<table border="1" cellpadding="5">
  <tr>
    <th>Removal Number</th>
    <th>Removal Date</th>
    <th>Removed Part Number</th>
    <th>Aircraft ID</th>
    <th>Replaced Part Number</th>
    <th>Replacement Date</th>
    
    
  </tr>
  <tr>
    <td align="center" ><input type="text" size="10"></td>
    <td align="center" ><input type="date" size="10"></td>
    <td align="center"><input type="text" size="10"></a></td>
    <td align="center"><input type="text" size="10"></td>    
    <td align="center"><input type="text" size="10"></a></td>
    <td align="center" ><input type="date" size="10"></td>
  </tr>
</table>
<input class="btn" type="button" value="Search Removals" >
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="install">
    <form method="POST" id="addInstall">
        <legend><strong>Install Part</strong></legend>
            <fieldset class="fields">
                <label>Removal Number: </label> <input type="text" name="lname">
                <label>Installed Part Number:  </label> <input type="text" name="homeworld">
            </fieldset>
            <input class="btn" type="submit" id="addRemoval" value="Add Installed Part">
            <input class="btn" type="button" value="Cancel" onClick="browseRemovals()">
	</form> 
</div><!-- install -->
<p>&nbsp;</p>
<div id = "details">
    <table border="1" cellpadding="5">
        <tr>
          <th>Part Number</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>
          <td align="center" >987A6543-1</td>
          <td align="center" >Left Wing</td>
          <td align="center">Provides lift and attaches to the left side</td>
        </tr>
      </table>
      <input class="btn" type="button" value="Cancel" onClick="browseRemovals()">
</div> <!-- details -->
<p>&nbsp;</p>
<div id="update">

    <form method="POST" id="updateRemoval">
        <legend><strong>Update Removal</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="removalID" id="updateRemovalID" value="1">
          <label> Removal Number: </label>  <select name="searchUpdate">
                <option>Select Removal Number</option>
                <option value="123A4567-1">1</option>
                <option value="987A6543-1">2</option>
          </select>
            <label> Removal Date: </label> <input type="date" name="fname">
            <label> Removed Part Number:  </label> <input type="text" name="lname">
            <label> Aircraft ID:  </label> <input type="text" name="lname">
            <label> Installed Part Number:  </label> <input type="text" name="lname">
            <label> Replacement Date: </label> <input type="text" name="lname">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveRemoval" value="Update Removal">
          <input class="btn" type="button" value="Cancel" onClick="browseRemovals()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteRemoval">
      <legend><strong>Delete Removal</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
            <input type="hidden" name="removalID" id="deleteremovalID" value="1">
            <label><strong>Removal Number:</strong></label> 1
            <label> <strong>Part Number: </strong> </label> 987A6543-1
            <label> <strong>Aircraft ID: </strong> </label> G1A-01
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteRemoval" value="Delete Removal">
          <input class="btn" type="button" value="Cancel" onClick="browseRemovals()">
  </form> 
</div><!-- delete -->

</body>
</html>
